.content
  display: flex
  flex-direction: column

.header
  display: flex
  flex-direction: row
  justify-content: space-between

.main
  font-weight: 400

.footer
  margin-top: 40px
  font-size: .7rem