.content
  display: flex
  flex-direction: column
  width: 100%

.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-bottom: 40px
  z-index: 10

.main
  font-weight: 400
  z-index: 10

.footer
  margin-top: 40px
  font-size: .7rem
  text-align: center
  z-index: 10
  color: var(--dark-grayish-blue)