.container
  display: flex
  flex-direction: row
  align-items: center
  height: 60px
  width: 100%
  padding: 0 20px
  margin-bottom: 20px
  border-radius: 4px
  background: white

.addButton
  width: 22px
  height: 20px
  border-radius: 50%
  border: 1px solid black
  margin-bottom: 4px
  margin-right: 18px

  &:hover
    border: none
    background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))


.input
  height: 60px
  width: 100%
  border: none
  outline: none

  font-size: 1rem
  font-family: var(--main-font)
