.container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  width: 100%
  min-height: 60px
  padding: 14px 20px
  border-bottom: 1px solid var(--light-grayish-blue)
  border-radius: 4px
  background: var(--very-light-gray)

.checkbox
  display: flex
  justify-content: center
  align-items: center
  width: 20px
  height: 20px
  margin-right: 20px
  margin-bottom: 2px
  border-radius: 50%
  background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
  cursor: pointer
  z-index: 5

.deselect
  width: 20px
  height: 20px
  border-radius: 50%
  border: 1px solid var(--light-grayish-blue)
  background: var(--very-light-gray)

  &:hover
    width: 18px
    height: 18px
    border: none

%text-style
  width: 100px
  flex-grow: 1
  word-wrap: break-word

.contentText
  @extend %text-style
  color: var(--dark-grayish-blue)

.contentTextDone
  @extend %text-style
  color: var(--very-dark-grayish-blue)
  text-decoration: line-through

.svgRemove
  margin-left: 10px
  padding-top: 4px
  cursor: pointer
  opacity: 1

  & > svg path
    fill: var(--dark-grayish-blue)

  &:hover
    opacity: 1

