.container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  width: 370px
  height: 60px
  padding: 0 20px
  border-bottom: 1px solid black
  border-radius: 4px

.checkbox
  display: flex
  justify-content: center
  align-items: center
  width: 20px
  height: 20px
  margin-right: 20px
  border-radius: 50%
  background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
  cursor: pointer
  z-index: 5

.deselect
  width: 20px
  height: 20px
  border-radius: 50%
  border: 1px solid black
  background: white

  &:hover
    width: 18px
    height: 18px
    border: none

.content
  flex-grow: 1

.svgClose
  margin-left: 10px
  padding-top: 4px
  cursor: pointer
  opacity: 0.3

  &:hover
    opacity: 1

